<table class="table table-bg">
  <thead class="table-dark ">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{#compare this.isAdmin 1}}admin{{else}}user{{/compare}}</td>
      <td>
        <form action="/admin/users/{{this.id}}?_method=PATCH" method="POST">
        {{#compare this.isAdmin 1}}
          <button type="submit" class="btn btn-link">set as user</button>
        {{else}}
          <button type="submit" class="btn btn-link">set as admin</button>
        {{/compare}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>