<div class="row bg-white">
  <div class="col-md-4">
    {{#if profile.image}}
    <img class="img-responsive center-block" src="{{profile.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
      alt="notFound">
    {{else}}
    <img class="img-responsive center-block" src="https://fakeimg.pl/250/"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"
      alt="notFound">
    {{/if}}
  </div>
  <div class="col-md-8">
    <p>{{profile.name}}</p>
    <p>{{profile.email}}</p>
    <p>{{commentsCount}}已評論餐廳</p>
    <br />
    {{#ifCond user.id profile.id}}
    <a href="/users/{{profile.id}}/edit" class="btn btn-primary">Edit</a>
    {{/ifCond}}
    <a href="/restaurants" class="btn btn-primary">Back</a>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <p>{{commentsCount}}已評論餐廳</p>
    <div class="bg-white">
      {{#if commentedRestaurants.length}}
      {{#each commentedRestaurants}}
      <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt="餐廳" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{/each}}
      {{else}}
      還沒有評論過唷!
      {{/if}}
    </div>
  </div>
  <div class="col-md-6">
    <p>{{profile.FavoritedRestaurants.length}}已收藏餐廳</p>
    <div class="bg-white">
      {{#if profile.FavoritedRestaurants}}
      {{#each profile.FavoritedRestaurants}}
      <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" alt="餐廳" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{/each}}
      {{else}}
      還沒有收藏唷!
      {{/if}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>{{profile.Followers.length}}Followers</p>
    <div class="bg-white">
      {{#if profile.Followers}}
      {{#each profile.Followers}}
      {{#if this.image}}
      <a href="/users/{{this.id}}"><img src="{{this.image}}" alt="user" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{else}}
      <a href="/users/{{this.id}}"><img src="https://fakeimg.pl/50/" alt="user" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{/if}}
      {{/each}}
      {{else}}
      還沒有Followers過唷!
      {{/if}}
    </div>
  </div>
  <div class="col-md-6">
    {{!-- todo: 使用者照片還沒搞定 --}}
    <p>{{profile.Followings.length}}Followings</p>
    <div class="bg-white">
      {{#if profile.Followings}}
      {{#each profile.Followings}}
      {{#if this.image}}
      <a href="/users/{{this.id}}"><img src="{{this.image}}" alt="user" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{else}}
      <a href="/users/{{this.id}}"><img src="https://fakeimg.pl/50/" alt="user" style="width: 50px; height: 50px;"
          class="m-2"></a>
      {{/if}}
      {{/each}}
      {{else}}
      沒有Followings過唷!
      {{/if}}
    </div>
  </div>
</div>